@model Projekat.Models.View.AdminApproveModel

@{
    ViewData["Title"] = "Auction list";
}


 @foreach(Projekat.Models.Database.Auction item in Model.Auctions){
        int index = Model.Auctions.IndexOf(item);
        if(index % 4 == 0){
            if(index == 0){
                @:<div class="row">
            }
            else {
               @:</div>
                @:<div class="row mt-2">
            }

        }
        <div class="col-xl-3 align-items-stretch d-flex">
            <div class="card w-100">
                <div class="card-header">
                    @item.name
                </div>
                <div class="d-flex align-items-center border m-2" style= "height:250px">
                    <img src="data:image/png;base64,@Model.images.ElementAt(index)" class="card-img-top " alt="Image" width="100%" height="auto" style="max-height100%">

                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">@(item.startPrice + item.priceIncrement)$</h5>
                        <h5 class=card-title>@item.state</h5>  
                    </div>
                    
                    <p class="card-text">@item.description</p>

                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-around">
                        <a asp-controller="Auction" asp-action="ApproveAuction" asp-route-id="@item.id" class="btn btn-primary" >Approve</a>
                        <a asp-controller="Auction" asp-action="DeleteAuctionAdmin" asp-route-id="@item.id" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>  
        </div>
        
    }
