@{ 
    ViewData["Title"] = "Won Auctions";
}
@using Projekat.Models.Database
@model Projekat.Models.View.MyAuctionsModel

<div>


@if(Model.myAuctions.Count == 0 ){
    @:<h1>There is no more auctions!!!</h1>
}
else{

    @foreach(Auction item in Model.myAuctions){
            int index = Model.myAuctions.IndexOf(item);
            int lastIndex = Model.myAuctions.Count-1;
            if(index % 4 == 0){
                if(index == 0){
                    @:<div class="row">
                }
                else {
                    @:</div>
                    @:<div class="row mt-2">

                }

            }
            string timer = "";
            if (item.state == State.EXPIRED || @item.state == State.SOLD){
                timer = "Finished at " + item.closingDate.ToString();
            }
                

            
            <div class="col-xl-3 align-items-stretch d-flex">
                <div class="card w-100">
                    <div class="card-header">
                        @item.name
                    </div>
                    <div class="d-flex align-items-center border m-2" style= "height:250px">
                        <img src="data:image/png;base64,@Model.images.ElementAt(index)" class="card-img-top " alt="Image" width="100%" height="auto" style="max-height100%">

                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">@(item.startPrice + item.priceIncrement)$</h5>
                            <h5 class=card-title>@item.state</h5>  
                        </div>
                        <div class="d-flex justify-content-center">
                             <p class="card-text"><span class="timer">@timer</span></p>
                        </div>
                            

                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-around">
                            <a class="btn btn-success" asp-controller="Search" asp-action="DetailsPage" asp-route-id="@item.id">Details</a>
                        </div>
                        <div class="auctionId" style="display:none">@item.id</div>

                    </div>
                </div>  
            </div>
            if(index == lastIndex){
                        @:</div>
            }
        }
        <div class="row mt-5 ">
                <span>Current Page <b id="pageNumber">@Model.pageNumber</b> <button type="button" class="btn btn-link" onClick="findAuctions(@Model.pageNumber)">Next ></button></span>
        </div>
    <div id="pageType" style="display:none">search</div>

}
</div>
